<div id="chart_div">
    <input type="text" id="myInput" data-myValue="@ViewBag.Arr" />
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
                    var data = new google.visualization.arrayToDataTable(jsonData, false);
                    data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            var a = document.getElementById("#myInput").data("myValue");
            for (var i = 0; i < a.length; i++) {
                data.addRow([a[i][0], a[i][1]]);
            }
                   // data.addRows(r);
                    // Set chart options
                    var options = {
                        'title': 'How Much Pizza I Ate Last Night',
                        'width': 400,
                        'height': 300
                    };

                    // Instantiate and draw our chart, passing in some options.
                    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
        }
    </script>

<div class="container">
    <div id="chart1"></div>
</div>
@*
@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('JsonData', function (jsonData) {
                data = google.visualization.arrayToDataTable(jsonData, false);
                var option = {
                    title: "Line Chart",
                    width: 800,
                    height: 600
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}*@