<form action="/Report/ChartReport" method="POST" class="form ">
    <div class="form-group form-inline row">
        <label>Select Country</label>
        <select name="_id" class="form-control col-auto" asp-items="ViewBag.CountryId" onchange=""></select>
    </div>
    <button type="submit" class="btn btn-primary button button4">
        Submit
    </button>
</form>
    <div id="chart_div">

    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            const json = @Html.Raw(ViewBag.Arr)
            // Create the data table.
            var data = google.visualization.arrayToDataTable(json);

                    // Set chart options
                    var options = {
                        'title': 'My Holdings',
                        'width': 600,
                        'height': 600
                    };

                    // Instantiate and draw our chart, passing in some options.
                    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
        }
    </script>

    <div class="container">
        <div id="chart1"></div>
    </div>
