@model MyPortfolio.Models.AgenciesViewModel.NewAgency

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserAgency</h4>

<div>
    <button id="btnShowModal" type="button"
            class="btn btn-sm btn-default pull-left col-lg-11 button button4 btn-info" style="width:140px;">
        New Agency
    </button>
</div>


@*modal for popup to add new country*@
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal fade" tabindex="-1" id="loginModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">New Agency</h4>
                        </div>
                        <form action="/UserAgencies/MakeAAgency" method="POST" class="form-inline">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label  class="control-label"></label>
                                    <select class="form-control" asp-items="ViewBag.CountryId" name="CountryId">
                                        <option value="null">Select a country------------</option>
                                    </select>
                                </div>
                                <br />
                                <input class="form-control" placeholder="New Agency Name"
                                       type="text" name="AgencyName"/>
                                <br/>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary button button4">
                                    Submit
                                </button>
                                <button type="button" id="btnHideModal" class="btn btn-danger button button4">
                                    Cancel
                                </button>
                            </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label class="control-label col-5">Country </label>
                <select asp-for="Agency.CountryId" class="form-control col" asp-items="ViewBag.CountryId">
                    <option value="null">Select a country------------</option>
                </select>
            </div>
            <div class="form-group row">
                <label class="control-label col-5">Agency Name </label>
                <select asp-for="Agency.AgencyId" class="form-control col" asp-items="ViewBag.AgencyId" id="Agencies">
                    <option value="null">Select Agency-----------</option>
                </select>
            </div>
            <input asp-for="UserAgency.UserId" type="hidden" />
            <div class="form-group row">
                <label asp-for="UserAgency.AccountNo" class="control-label col-5"></label>
                <input asp-for="UserAgency.AccountNo" class="form-control col" />
                <span asp-validation-for="UserAgency.AccountNo" class="text-danger"></span>
            </div>
            @if (ViewBag.Message != null)
            {
                <script type="text/javascript">
                    window.onload = function() {
                        alert("@ViewBag.Message");
                    }
                </script>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_AgencyPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
    });
</script>

